<a href="https://colab.research.google.com/github/Dan-Blanchette/Linux_Github_Python_CrashCourse/blob/main/Python_Tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Welcome To Python Writing Your First Program
1. Good Programming Practices
  - always be sure to give yourself credit for your implementation. If you reference any exterior site, be sure to include a link to the code you used. Plagerism ethics exists in software as well.

In [ ]:
'''
@author: Your Name
@date: Last Time You Made Changes
@program description: What your Progam does or is going to do (This program will print hello world to the terminal)
'''

# print hello world in python
print("Hello World!")

Hello World!

# The Importance of Print Statements
1. You can format data to be communicated to your user or yourself.
2. Great tool for debugging
3. Can help you figure out if certain instructions in your code are being excuted

# Variables and Data-Types
## There are a few different data types in programming
1. int: integers
2. floats: scientific notation digits
3. char: characters any key that exists on your keyboard is considered to be a char datatype.
  - chars are often represented in single quotes IE: 'e', 'a'
4. strings: words and sentences represented in double quotes "Hello World!"
5. boolean: True or False(0 or 1)

# Python is a Typeless Language
1. Python assigns the correct data type based on what you set a variable to. Like in algebra where x = some value, in programming we get to do the same type of assignments.

# Ints and Floats

In [ ]:
# Python library
import math
'''
@author: Dan B
@date: May 13, 2023
@program description: This program will teach students how to assign variables and check output with print statements
'''

# Let's Implement The Pythagorean Theorem,.... the hard way
a = 2
b = 3
# for programs that will run once, it is a good practice to initialize "empty variables as 0"
c = 0

# Math!
print("The value of a is: ", a)
print("The value of b is: ", b)

# Pythagorean Theorem
c = math.sqrt((a * a) + (b * b))
# What Datatype do you think will be the output?
print("The hypotenuse is: ", c)

# Let's try casting this to a different datatype
print("The hypotenuse is: ", int((c)))

The value of a is:  2
The value of b is:  3
The hypotenuse is:  3

# Chars
### Let's try assigning some char variables

In [ ]:
a = 'a'
b = 'b'
c = 'c'
one = '1'
two = '2'
three = '3'

# using type to check your data types
# use print for debugging 
print(type(one))

print(a,b,c,"easy as", one, two, three)
# print(a,",",b,",",c,",","easy as", one, ",", two, ",", three, ",")

<class 'str'>
a b c easy as 1 2 3

# What is a String?
- You can think of a string as a bunch of chars condensed into a single data type. In fact that's how they work! For this portion, we will look at a couple ways we can mess around with strings and how a string is put together using something called a list.

In [1]:
# so far we've learned that you can print a string by typing a message between two double quotes ("")
print("Hello_World!")

# However, Python knows the string data type when assigning it to a variable
message = "Hello_World!"
print(message)

'''
 This is just a couple ways we can do the same thing. The second implementation 
 allows us to reuse the same message throughout our program instead of typing it 
 in over and over again using the double quotes.
'''

Hello_World!
Hello_World!

# What is a List and how is it related to a string?
- A list is a collection of data stored in something we traditionally call and array or if you prefer a vector.

In [13]:
# For lists we can mix and match data types (this is no permissible in C and C++)
list1 = ['Dan', 37, 12.3957, "Hello_World!"]
# we can print the whole list the same way we just printed the message moments ago.
print(list1)

# however, what if we only wanted one thing from the list? like 'Dan' or "Hello_World?'

# Dan

# Hello World

# This is called accessing an element of the array(aka list)

# when you typed in hello_world between the double quotes here's what 
# the computer is doing with your message under the hood.

helloList = ['H','e','l','l','o','_','W','o','r','l','d']

print(helloList[0] + helloList[1] +helloList[2] + helloList[3] + helloList[4] +
      helloList[5] + helloList[6] +helloList[7] + helloList[8] + helloList[9] +
      helloList[10])

# An easy way to tell how many elements long is your list
# remember that counts start at 0. Even though the total from len is 11,
# because of the counting convention it is (n-1) for the list (0 - 10).
len(helloList)

# what happens if we give the list 11 as an element
# helloList[11]

['Dan', 37, 12.3957, 'Hello_World!']
Hello_World

11